@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,700&display=swap');

/* https://www.fontsc.com/font/skranji */
@font-face {
  font-family: skranji;
  src: url("../fonts/Skranji-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: skranji;
  src: url("../fonts/Skranji-Bold.ttf") format("truetype");
  font-weight: bold;
}

/* https://www.cufonfonts.com/font/tintin */
@font-face {
  font-family: tintin;
  src: url("../fonts/tintin.woff") format("woff");
}

